body {
    padding: 1px 3px;
}

#nome{
    margin: 5px 0 0 120px
}

.experiencia{
    font-style: italic;
}

.escolaridade{
    font-style: italic;
}

.cursos{
    font-style: italic;
}

.contato{
    font-style: italic;
}

#objetivo{
    text-shadow: 2px 2px 5px black;
    font-family: 'Autour One', 'sans serif';
    font-size: small
}

#tabela1{
    background-color: grey;
    border-radius: 10px;
    border: 3px solid black;
    width: 400px;
    height: 90px;
    font-size:larger
}

#tabela2{
    background-color: yellow;
    border-radius: 10px;
    border: 3px solid black;
    width: 400px;
    height: 90px;
    font-size:larger
}

#cursos{
    font-size: larger;
}

textarea{
    margin: 1px 0;
    width: 250px;
    height: 100px;
    background-color: darkgray;
}

#text1{
    background-color: darkgray;
}

#text2{
    background-color: darkgray;
}
